[submodule "student-work/Aseem/data-structures"]
	path = student-work/Aseem/data-structures
	url = https://github.com/agaase/data-structures
[submodule "student-work/Clare/data-structures"]
	path = student-work/Clare/data-structures
	url = https://github.com/churc/data-structures
[submodule "student-work/Elena/data-structures"]
	path = student-work/Elena/data-structures
	url = https://github.com/ep866/data-structures
[submodule "student-work/Gentry/data-structures"]
	path = student-work/Gentry/data-structures
	url = https://github.com/deevolutionism/data-structures
[submodule "student-work/Ian/data-structures"]
	path = student-work/Ian/data-structures
	url = https://github.com/Ianssmith/data-structures
[submodule "student-work/Joshua/data-structures"]
	path = student-work/Joshua/data-structures
	url = https://github.com/neuralism/data-structures
[submodule "student-work/Nancy/data-structures"]
	path = student-work/Nancy/data-structures
	url = https://github.com/nancyzhao888/data-structures
[submodule "student-work/PJ/data-structures"]
	path = student-work/PJ/data-structures
	url = https://github.com/moriartp/data-structures
[submodule "student-work/Riley/data-structures"]
	path = student-work/Riley/data-structures
	url = https://github.com/rhoon/data-structures
[submodule "student-work/Sam/data-structures"]
	path = student-work/Sam/data-structures
	url = https://github.com/svickars/data-structures
[submodule "student-work/Sambhav/data-structures"]
	path = student-work/Sambhav/data-structures
	url = https://github.com/jainsambhav91/data-structures
[submodule "student-work/Will/data-structures"]
	path = student-work/Will/data-structures
	url = https://github.com/Jiahao01121/data-structures
[submodule "student-work/Isabel/data-structures"]
	path = student-work/Isabel/data-structures
	url = https://github.com/IsVer/data-structures.git
